h1{
  font-size: 2.5em;
}

#menu {
  margin: none
  padding: none;
}

#menu li{
  float: left;
  list-style: none;
  margin: 20px 20px 0px 0px;
}

#header{
  margin-top: 2em;
  margin-bottom: 1em;
}

.bordered {
  border: 1px solid #999;
}

.big_link{
  padding: 1em;
  border: 1px solid #000;
  margin-bottom: 0.5em;
  text-align: center;
  text-decoration: none;
}

#app_search{
  padding: -1px;
}

.saved_search{
  border: 1px solid #0000ff;
}

#app_left h3{
  margin-top: 1em;
  text-align: center;
}
#search_form label{
  text-align: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#search_filters{
  margin-top: 1em;
  margin-bottom: 1em;
}

#search_filters span{
  text-align: right;
  padding-top: 1em;
  padding-bottom: : 1em;
  margin-bottom: 0.5em;
  text-decoration: none;
}


#search_map{
  height: 400px;
}

.read-more, .read-less{
  display: none;
}
