body{margin: 2em;font-family: arial, verdana;font-size: 0.9em;}

h1{margin-left:1.2em; font-family: arial, verdana; font-size: 2.0em; margin-top: 2em; color:#666699}

BLOCKQUOTE{margin-left:2.5em;padding: 0em 20em 0em 0em;font-family: arial, verdana; font-size: 1em; font-weight:lighter;}

#menu {margin: none  padding: none;}

#menu li {font-family: arial, verdana; float: left;list-style: none;  margin: 20px 20px 0px 0px;}

#logo {margin-top: -6em; margin-left:55em; margin-bottom: 5em;}

#header {margin-top: 2em;  margin-bottom: 1em;}

.bordered {border: 1px solid #999999;}

.big_link{ padding: 1em 0 1em 1em; text-align: left; }

#app_left {padding: 1em 0 1em 1em;margin-left:0.8em; margin-top: 1.5em; font-family: arial, verdana;}

.big_link{ }

#app_search  { padding: -1px;}

.saved_search{ overflow: hidden  border: 1px solid #999999;}

#app_left h3 { margin-top: 1em;  text-align: left;}

#search_form label { padding: 1em; font-family: arial, verdana;  text-align: left; margin-left:1em; margin-top: 0.5em;  margin-bottom: 0.5em;}

#search_form { padding: 1em 1em 1em 0.4em;}

#search_filters, #event_filters {  margin-left: 1em; margin-top: 0em;  margin-bottom: 0em;}

#search_filters span, #event_filters span { text-align: left;  padding-top: 2em;  padding-bottom: : 2em;  margin-bottom: 2em;  text-decoration: none;}

#search_filters { margin-left: 1em;}

#search_map {height: 400px;}

.read-more, .read-less {display: none;}

.pagination { padding: 1em 1.5em 1em 1.5em;  margin: 0 -1.5em 1.5em -1.5em;  text-align: center;  text-decoration: none;  border-top: 1px solid #999999;  border-bottom: 1px solid #999999;}

.select_all { text-align: left;}

.select-action { text-align: right;}

hr {background:#ccc; color:#ccc;width:60%;}

.box {border-top: 1px solid #ddd;  border-bottom: 1px solid #ddd;}

#search {margin-left:1.8em; margin-top:0em;font-family: arial, verdana;}

#id_future_events {margin-left: -1em; font-family: arial, verdana;} 
 