<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>NHS Social Prescribing for people living with Long Term Conditions</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/blueprint/screen.css" />
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection" />
  <![endif]-->
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" media="print" type="text/css" href="css/blueprint/print.css" />
  <link rel="stylesheet" media="print" type="text/css" href="css/print.css" />
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css" />

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="js/libs/modernizr-2.5.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <script src="js/libs/jquery.expander.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  <script src="js/libs/locache.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/gapp.js"></script>

</head>
<body>

  <div class="container" role="main">

    <div id="header" class="span-24 last">

      <div class="span-18">

        <ul id="menu" class="first span-18">
          <li><a href=".">home</a></li>
          <li><a href="http://aliss.org">aliss information &amp; login</a></li>
          <li>contact us</li>
          <li>terms &amp; conditions</li>
          <li>help</li>
        </ul>

        <span class="clearfix"></span>
        <h1>NHS Social Prescribing for <br/>people living with Long Term Conditions</h1>

      </div>

      <div class="prepend-2 span-4 last">

        <img src="img/nhs_logo_blue_150.jpg" alt="NHS GCC" />

      </div>

    </div>

    <div id="app" class="span-24 last">

      <div id="app_left" class="span-5">

        <a href="." class="span-4 last big_link">Start again</a>

        <h3 class="span-5 last">Saved searches</h3>

        <div id="saved_searches">
        </div>

      </div>

      <div id="app_search" class="borderedspan-19 last">

        <form method="get" action="." id="search_form" class="span-18 last">

          <label for="id_location" class="required span-7">Location:</label>
          <input id="id_location" type="text" name="location" class="span-10 last" />

          <span class="span-18 last clearfix"></span>

          <label for="id_query" class="required span-7">Text:</label>
          <input id="id_query" type="text" name="query" class="span-10 last"/>

          <input id="search" type="submit" value="Search now" class="span-5 prepend-7" />

        </form>

        <span class="clearfix"></span>

        <div id="search_filters" class="span-18 last">
          <span class="span-3 prepend-2 append-1">Filter results:</span>
          <a class="big_link span-3">All</a>
          <a class="big_link span-3">Practice</a>
          <a class="big_link span-3">Local</a>
        </div>

        <div id="search_map" class="box span-18 last">
        </div>

        <div id="search_results" class="box span-18 last">

          <h2>How to search</h2>

        </div>

        <div id="resourceView" class="box span-18 last">

        </div>

      </div>

    </div>

  </div>


  <script type="text/template" id="result-loading">

      <h2>Searching for resources</h2>

      <p>Loading...</p>

  </script>

  <script type="text/template" id="result-template">

    <% if (location && query){ %>
      <h2>Resources found for &ldquo;<%= query %>&rdquo; in &ldquo;<%= location %>&rdquo;</h2>
    <% } else if (location) {%>
      <h2>Resources found in &ldquo;<%= location %>&rdquo;</h2>
    <% } else if (query) {%>
      <h2>Resources found for &ldquo;<%= query %>&rdquo;</h2>
    <% } %>

    <% if (resources.length == 0){ %>

      <p>Sorry, we couldn\t find anything. Try a more general search.</p>

    <% } else { %>

      <p>
        <% if (start > 1) { %>
        <a href="#" class="first">First</a>
        <% } %>

        <% if (start > 0) { %>
        <a href="#" class="previous">Previous</a>
        <% } %>

        Page <%= pageNumber %>
        <a href="#" class="next">Next</a>
      </p>

      <% var counter = start; _.each(resources, function(resource) { %>
          <% counter++; %>
          <% var desc = resource.description; %>
          <h3><%= counter %>. <%= resource.title %></h3>
          <span class="truncate"><%= desc %>&hellip;</span>
          <p><a href="#" class="detail" data-id="<%= resource.id %>">View details</a></p>
          <hr/>
      <% }); %>

      <p>
        <% if (start > 1) { %>
        <a href="#" class="first">First</a>
        <% } %>

        <% if (start > 0) { %>
        <a href="#" class="previous">Previous</a>
        <% } %>

        Page <%= pageNumber %>
        <a href="#" class="next">Next</a>
      </p>

    <% } %>

  </script>

  <script type="text/template" id="saved-search">
      <% _.each(savedSearch, function(saved) { %>
          <a href="#" class="span-4 last big_link saved_search" data-query="<%= saved.query %>" data-location="<%= saved.location %>"><%= saved.query %> <% if (saved.location){ %>(<%= saved.location%>)<% } %></a>
      <% }); %>
  </script>


  <script type="text/template" id="resource-template">

    <a href="#" class="back">Back to results</a>

    <hr/>

    <% var desc = description; %>
    <h3><%= title %></h3>
    <p><%= desc %></p>
    <hr/>

    <a href="#">Edit resource</a> | <a href="#">Report Resource</a>

  </script>

</body>
</html>