<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>NHS Social Prescribing for people living with Long Term Conditions</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/blueprint/screen.css">
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="css/style.css">

  <script src="js/libs/modernizr-2.5.3.min.js"></script>
  <script src="js/libs/jquery-1.7.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  <script src="js/libs/locache.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/gapp.js"></script>

</head>
<body>

  <div class="container" role="main">

    <div id="header" class="span-24 last">

      <div class="prepend-1 span-18">

        <ul id="menu" class="span-20">
          <li>home</li>
          <li>aliss information &amp; login</li>
          <li>contact us</li>
          <li>terms &amp; conditions</li>
          <li>help</li>
        </ul>

        <span class="clearfix"></span>
        <h1>NHS Social Prescribing for <br/>people living with Long Term Conditions</h1>

      </div>

      <div class="span-4 append-1 last">

        <img src="img/nhs_logo_blue_150.jpg" />

      </div>

    </div>

    <div id="app" class="span-24 last">

      <div id="app_left" class="span-5">

        <a href="." class="span-4 last big_link">Start again</a>

        <h3 class="span-5 last">Saved searches</h3>

        <div id="saved_searches">
        </div>

      </div>

      <div id="app_search" class="span-18 bordered last">

        <form method="get" action="." id="search_form" class="span-17 last">

          <label for="id_location" class="required span-7">Location:</label>
          <input id="id_location" type="text" name="location" class="span-10 last" />

          <span class="clearfix"></span>

          <label for="id_query" class="required span-7">Text:</label>
          <input id="id_query" type="text" name="query" class="span-10 last"/>

          <input id="search" type="submit" value="Search now" class="span-5 prepend-7" />

        </form>

        <span class="clearfix"></div>

        <div id="search_filters" class="span-19 last">
          <span class="span-3 prepend-2 append-1">Filter results:</span>
          <a class="big_link span-3">All</a>
          <a class="big_link span-3">Practice</a>
          <a class="big_link span-3">Local</a>
        </div>

        <div id="search_results" class="box span-18 last">

          <h2>How to search</h2>

        </div>

      </div>

    </div>

  </div>


  <script type="text/template" id="result-loading">

      <% if (location && query){ %>
        <h2>Resources found for &ldquo;<%= query %>&rdquo; found in &ldquo;<%= location %>&rdquo;</h2>
      <% } else if (location) {%>
        <h2>Resources found in &ldquo;<%= location %>&rdquo;</h2>
      <% } else if (query) {%>
        <h2>Resources found for &ldquo;<%= query %>&rdquo;</h2>
      <% } %>

      <p>Loading...</p>

  </script>

  <script type="text/template" id="result-template">

      <% if (location && query){ %>
        <h2>Resources found for &ldquo;<%= query %>&rdquo; found in &ldquo;<%= location %>&rdquo;</h2>
      <% } else if (location) {%>
        <h2>Resources found in &ldquo;<%= location %>&rdquo;</h2>
      <% } else if (query) {%>
        <h2>Resources found for &ldquo;<%= query %>&rdquo;</h2>
      <% } %>

    <% if (resources.length == 0){ %>

      <p>Sorry, we couldn\t find anything. Try a more general search.</p>

    <% } else { %>

      <ul>
        <% _.each(resources, function(resource) { %>
            <li><%= resource.title %></li>
        <% }); %>
      </ul>

      <p>
        <% if (start > 1) { %>
        <a href="#" class="first">First</a>
        <% } %>

        <% if (start > 0) { %>
        <a href="#" class="previous">Previous</a>
        <% } %>

        Page <%= pageNumber %>
        <a href="#" class="next">Next</a>
        <a href="#" class="last">Last</a>
      </p>

    <% } %>

  </script>

  <script type="text/template" id="saved-search">
      <% _.each(savedSearch, function(saved) { %>
          <a href="#" class="span-4 last big_link saved_search" data-query="<%= saved.query %>" data-location="<%= saved.location %>"><%= saved.query %></a>
      <% }); %>
  </script>

</body>
</html>